<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c16b87">  <td>21/08/16 20:38:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initial.Initalization()[pri:0, instance:com.smokeTest.AutoRegTest@7a69b07]">&gt;&gt;Initalization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1448061896</td>   <td></td> </tr>
<tr bgcolor="9381af">  <td>21/08/16 20:38:52</td>   <td>4763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutoRegTest.LoginValidation()[pri:0, instance:com.smokeTest.AutoRegTest@7a69b07]">LoginValidation</td> 
  <td>main@1448061896</td>   <td></td> </tr>
</table>
